/* custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* .App { */
  /* text-align: center; */
  /* background-image: linear-gradient(to left, rgb(225, 49, 225), rgb(235, 69, 235), rgb(82, 182, 244), green, rgb(0, 255, 55), orange, rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

 
/* } */


.rainbow-text{
  font-family: 'Ubuntu', sans-serif;
  /* padding-bottom: 0px; */
}

/* p {
  text-align: center;
  font-size: 45px;
  color:rgb(237, 217, 65);
  font-weight: bold;
} */


body{
  background-color: rgba(202, 228, 224, 0.708);
}
.base-container{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  outline-offset: 6px;
}

.header{
  font-size: 35px;
  font-weight: bold;
  color:rgb(255, 132, 0);
  font-family: 'Ubuntu', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

/* .image {
  width: 21em;
  img{
    width: 100%;
    height: 100%;
  /* } */
/* } */ 
/* login form button */
div.footer{
  align-right: ;
}

.form-group label{
  font-family:'Ubuntu';
  font-size: 20px;
  color:rgb(255, 0, 153);
  font-weight: bold;
}

form.form {
  margin-top: 2em;
  display: block;
  color:rgb(174, 50, 205);
  flex-direction: column;
  align-items: center;
  position: relative;
}
/*  */
.form-group:after {
  content: '';
  display: block;
  position: absolute;
  top:-5px;
  left:-5px;
  right:-5px;
  bottom: -5px;
  z-index:1;
  background-image: linear-gradient(to bottom right,orange,rgb(64, 165, 233));
  flex-direction: column;
  /* align-items: flex-start; */
  color: rgb(237, 107, 38);
  font-size: 18px;
  width: fit-content;
  label {
    font-size: 18px;
  }
}
/* login input group */
input {
  margin-top: 6px;
  min-width: 16em;
  height: 50px;
  padding: 0px 10px;
  font-size: 14px;
  color: deeppink;
  font-weight:bold;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(216, 221, 230, 0.824);
  border: 0;
  border-radius: 14px;
  margin-bottom: 20px;
  transition: all 250ms ease-in-out;
  /* &:focus{
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #ffffff;
  } */
  
}

/* login buttons */
button.btn{
  font-size: 20px;
  color:rgb(228, 30, 205);
  /* align-self: center; */
  font-weight: bold;
  padding: 12px 15px;
  outline: 2px solid rgb(226, 77, 23);

}
button.but{
  font-size: 18px;
  color:rgb(30, 136, 228);
  font-weight: bold;
  /* width:auto; */
  float:left;
  padding: 12px 15px;
  outline: 2px solid rgb(34, 233, 114);

}

/* form room */


div.RoomCollection{
  font-size: 20px;
  font-weight: bold;
  /* text-align: center; */
  font-family:'Ubuntu', sans-serif;
  color:rgb(235, 24, 168);
  margin-left: 4rem;
  margin-top: 2rem;

}
/* .container{
  flex-flow: column wrap;
}  */

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* boxes my collection page */
div.flex-item.colors{
  background: rgba(193, 220, 131, 0.797);
  padding: 5px;
  width: 200px;
  height: 150px;
  line-height: 100px;
  color:rgb(202, 47, 50);
  font-weight: bold;
  font-size:3em;
  text-align:center;
}

.button{
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:rgb(49, 216, 33);
  margin-left: 60px;
  padding: 1px 15px;
}
 /* room collection font and button */

/* input for create room */
 div.form-group input{
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  color:rgb(72, 200, 247);
  margin-left: 40px;
  padding: 20px 15px;
  /* border-radius: 3em; */
  } 


 h1{
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color:rgb(186, 48, 240);
  margin-left: 70px;
}

.butty{
  display:flex;
  font-family: Ubuntu;
  align-content: center;
  /* height:200px; */
  /* border: 3px; */
  text-align: center;
  margin-left: 80px;
  font-weight: bold;
  color:rgb(0, 4, 255);
  padding: 12px 15px;
  outline: 2px solid rgb(233, 87, 34);
}
 


  h2{
  font-family:Ubuntu; 
  font-weight: bold;
  color: rgb(207, 33, 85);
  margin-left: 18em;
  
}  



/* color picker */
div.color-picker{
  width:84%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(237, 62, 31);
  font-size:16px;
  margin-left: 8%;
  border-radius:10px;
  transition: background-color .3s;
}
/* color picker information not sure going to use */
/* input {
  width: 20%;
  margin-left: calc(40% - 3px);
  margin-bottom: 20px;
  padding: 2px 3px;
  border: none;
  background: white;
  box-shadow: 5px 5px 30px -5px rgba(112, 112, 112, 0.8);
  transition: box-shadow .3s;
} */

input:hover{
  cursor: pointer;
  box-shadow: 5px 5px 30px;

}

input:focus{
  outline: none;
  align-content: center;
  float:center;
}

div.container.fulid {
  font-family: Ubuntu; 
  text-align: center;
  font-weight:bold;
  font-size: 12px;
}

.keep{
  font-family: Ubuntu;
  font-size: 20px;
  color:green;
}
/* button.add, button.trash{
  font-family: Ubuntu;
  color:rgb(140, 0, 255);
  display:block;
  padding: 12px 15px;
  outline: 2px solid rgb(233, 87, 34);
  margin: 0 auto;
} */

button.add{
  font-family: Ubuntu;
  outline: 2px solid rgb(233, 87, 34);
  margin: 0 auto;
  display: out-side;
  padding: 12px 15px;
  color: rgb(90, 27, 237);
  font-weight: bold;
}

/* remove button on userprofile */
button.removebtn{
  color:rgb(245, 11, 11);
  font-family:Ubuntu; 
  font-weight:bold;
  margin-top: 20px;
  padding: 10px 15px;
  outline: 2px solid rgb(233, 87, 34);
  
}
/* user profile li */
div.RoomCollection li{
  font-family: Ubuntu;
  color:rgb(206, 35, 240);
  font-weight:bold;
}

/* update button */
button.update-room-name{
  color:rgb(245, 11, 11);
  font-family:Ubuntu; 
  font-weight:bold;
  margin-top: 20px;
  padding: 10px 15px;
  outline: 2px solid rgb(233, 87, 34);
}

/* popup button */
button.buddy{
  color:red;
  font-family:Ubuntu; 
  padding: 10px 15px;
  outline: 2px solid rgb(34, 233, 124);
}

.form input{
  min-width: 16em;
  height: 50px;
  padding: 0px 10px;
  border-radius: 2px;
}


div.edit.room.name{
  font-family:Ubuntu; 
}
