/* custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

/* .App { */
  /* text-align: center; */
  /* background-image: linear-gradient(to left, rgb(225, 49, 225), rgb(235, 69, 235), rgb(82, 182, 244), green, rgb(0, 255, 55), orange, rgb(255, 0, 234));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

 
/* } */

html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #95c6ad, #84f7ee,rgb(248, 100, 248), #f45430, #f3524f);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}












.rainbow-text{
  font-family: 'Ubuntu', sans-serif;
  
}


/* 
body{
  /* background-color: rgba(200, 210, 208, 0.708); */
  /* background-image: url(./images/04.png); */
/* } */

/* container for login with fram */
.base-container{
  width:600px;
  height: 480px;
  display:flex;
  flex-direction: column;
  align-items: center;
  outline-offset: 6px;
  border-radius: 8px;
  border: 10px solid rgb(143, 235, 57);
  margin: auto;
  padding: 15px 10px;
}


div.header{
  font-size: 55px;
  margin-bottom: 4rem;
  /* margin-top: 2rem; */
  font-weight: bold;
  color:rgb(255, 132, 0);
  font-family: 'Ubuntu', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}


/* login form button */
/* div.footer{
  align-right: 0;
/* } */

.form-group label{
  font-family:'Ubuntu';
  font-size: 20px;
  color:rgb(255, 0, 153);
  font-weight: bold;
  
}

form.form {
  margin-top: 2em;
  display: block;
  color:rgb(174, 50, 205);
  flex-direction: column;
  align-items: center;
  position: relative;
}
/*  */
/* .form-group:after {
  content: '';
  display: block;
  position: absolute;
  top:-5px;
  left:-5px;
  right:-5px;
  bottom: -5px;
  z-index:1;
  background-image: linear-gradient(to bottom right,orange,rgb(64, 165, 233));
  flex-direction: column;
  /* align-items: flex-start; */
  /* color: rgb(237, 107, 38); */
  /* font-size: 18px; */
  /* width: fit-content; */
  /* label { */
    /* font-size: 18px; */
  /* }} */

  
 /* login input group  */
 div.form-group input { 
   margin-top: 9px; 
   margin-left:4px;
  min-width: 14em;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  color: deeppink;
  font-weight:bold;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(216, 221, 230, 0.824);
  border: 0;
  border-radius: 10px;
 }


  /* button.button-btn{
   margin-bottom: 20px;
   margin-left: 20px;
   margin-top: 10px;  
   transition: all 250ms ease-in-out; 
   &:focus{
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #ffffff;
   }
  /* }  */ 
  
  

/* login button only */
  button.btn{
   font-size: 20px;
   color:rgb(228, 30, 205);
   margin-top: 2rem;
   margin-left: 0; 
   /* margin-bottom: 4px; */
   font-weight: bold;
   position: relative;
   padding: 10px 15px; 
   outline: 2px solid rgb(226, 77, 23);

 }  

/* user login page signup button only  */
 button.but {
   font-size: 20px; 
   color:rgb(30, 136, 228); 
   font-weight: bold; 
   margin-top: 0;
   /* position: relative;  */
   margin-right: 7rem;
   padding: 9px 8px; 
   outline: 2px solid rgb(34, 233, 114);
 } 

/* login form input */
 div.form-group input{
  background-color: rgba(216, 221, 230, 0.824);
  border: 0;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 12px;
  margin-top: 10px;
 }

/* form room */


div.RoomCollection{
  font-size: 20px;
  font-weight: bold;
  /* text-align: center; */
  font-family:'Ubuntu', sans-serif;
  color:rgb(235, 24, 168);
  margin-left: 4rem;
  margin-top: 2rem;

}
/* my collection button logout */

 div.logoutbtn button{
  color:rgb(245, 11, 11);
  font-family:Ubuntu; 
  width: fit-content;
  font-weight:bold;
  margin-left:4rem ;
  margin-top: 20px;
  padding: 10px 15px;
  outline: 2px solid rgb(233, 87, 34);
  
} 


/* .container{
  flex-flow: column wrap;
}  */

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* boxes my collection page */
div.flex-item.colors{
  background: rgba(245, 244, 244, 0.797);
  padding: 5px;
  width: 200px;
  height: 150px;
  line-height: 100px;
  color:rgb(202, 47, 50);
  font-weight: bold;
  font-size:3em;
  text-align:center;
}
/* loginsign-up */
button.button{
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color:rgb(140, 30, 194);
  margin-left: 10rem;
  /* margin-bottom: auto; */
  /* margin-left: 10rem; */
  /* margin-bottom: 45rem; */
  
  /* position: absolute; */
  top: 4px;
  /* bottom: 0; */
  padding: 12px;
  outline: 2px solid rgb(110, 34, 233);
}
 /* this is not room collection font and button */

/* input for create room */
  div.form-group input{ 
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: bold;
  /* color:rgb(240, 9, 9); */
  margin-left: 40px;
  margin-top: 2px;
  padding: 20px 15px;
  border-radius: 3em;
   }  

  div.RoomCollection input{
    margin-bottom: 12px;
    margin-top: 10px;
  }


 h1{
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color:rgb(230, 240, 48);
  margin-left: 70px;
}

.butty{
  display:flex;
  font-family: Ubuntu;
  align-content: center;
  /* height:200px; */
  /* border: 3px; */
  text-align: center;
  margin-left: 80px;
  font-weight: bold;
  color:rgb(0, 4, 255);
  padding: 12px 15px;
  outline: 2px solid rgb(233, 87, 34);
}
 

/* color picker */
div.color-picker{
  width:84%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(237, 62, 31);
  font-size:16px;
  margin-left: 8%;
  border-radius:10px;
  transition: background-color .3s;
}
/* color picker information not sure going to use */
  div.color-picker input {
  width: 20%;
  margin-left: calc(45% - 4px);
  margin-bottom: 20px;
  padding: 2px 3px;
  /* border: none; */
  background: rgb(240, 149, 149);
  box-shadow: 5px 5px 30px -5px rgba(112, 112, 112, 0.8);
  transition: box-shadow .3s;
} 

div.color-picker h2{
  font-family:Ubuntu; 
  color: rgb(89, 250, 57);
  margin:center;
}

div.circle-picker{
  margin-left: calc(14% - 4px);
  
}
 /* pointer */
input:hover{
  cursor: pointer;
  box-shadow: 5px 5px 30px;
}
/* signup page input */
input{
  margin-bottom: 20px;
  margin-left: 12px;
  padding: 8px;
  font-size: 12px;
  color:green;
  box-shadow: gold;
  border-radius: 4px;

}


input:focus{
  /* font-size: 2px; */
  outline: none;
  align-content: center;
  float:center;
}

div.container.fulid {
  font-family: Ubuntu; 
  text-align: center;
  font-weight:bold;
  font-size: 12px;
}

div.keep{
  font-family: Ubuntu;
  font-size: 20px;
  color:green;
  text-align: center;
}
 button.trash{
  font-family: Ubuntu;
  color:rgb(140, 0, 255);
  display:block;
  float:right;
  padding: 12px 15px;
  outline: 2px solid rgb(233, 87, 34);
  margin: 0 auto;
}

button.add{
  font-family: Ubuntu;
  outline: 2px solid rgb(233, 87, 34);
  margin: 0 auto;
  display: out-side;
  padding: 12px 15px;
  color: rgb(90, 27, 237);
  font-weight: bold;
}

/* remove button on userprofile */
button.removebtn{
  color:rgb(245, 11, 11);
  font-family:Ubuntu; 
  font-weight:bold;
  margin-top: 20px;
  padding: 10px 15px;
  outline: 2px solid rgb(233, 87, 34);
  
}
/* user profile li */
 li{
  font-family: Ubuntu;
  color:rgb(35, 42, 240);
  font-weight:bold;
}

/* update button */
button.update-room-name{
  color:rgb(245, 11, 11);
  font-family:Ubuntu; 
  font-weight:bold;
  margin-left: 14px;
  margin-top: 20px;
  padding: 10px 15px;
  outline: 2px solid rgb(233, 87, 34);
}

/* popup button to update */
 button.buddy {
  color:rgb(0, 4, 255);
  font-family:Ubuntu; 
  font-weight: bold;
  padding: 10px 10px;
  margin-left: 9px;
  margin-top: 20px;
  outline: 2px solid rgb(69, 252, 33);
 } 

 .form input{
  min-width: 16em;
  height: 50px;
  padding: 0px 10px;
  border-radius: 2px;
 } 


div.edit.room.name{
  font-family:Ubuntu; 
}

/* button select colors */
select.hex-colors{
  margin-top: 20px;
  border-radius: 4px; 
  padding: 7px 7px;
  outline: 2px solid rgb(18, 14, 238);
}

/* form for signup */

  div.form-sign-group label{
  font-family: Ubuntu; 
  font-size: 20px;
  font-weight: bold;
  color: red;
  margin-left: 20rem;
  
  }   

 /* input#first\name{
  /* height: 50px; */
  /* min-width: 14em; */
  /* margin-left: 4rem; */
  /* }   */

 /* div.footer button.btn{
  margin-left: 20em;
  padding-top: 16px;
/* }  */ 


 /* colors for room collection */
  div.hex{
  height: 4rem;
  width: 30rem;
  margin-left: 25%;
  margin-bottom: auto;
  border-radius: 1rem;
  padding-left: 1rem;
  outline: 2px  rgb(214, 214, 216);  
  }   




 

/* signup page*/

  form-signup{ 
  height: 50px;
  min-width: 14rem;
  margin-left: 1rem;
  outline: 2px solid goldenrod;
  margin-top: 2rem;
  box-shadow: gold;
 } 


 
   div.form-signup label {
  font-family: Ubuntu; 
  color: gold;
  font-weight: bold;
  font-size: 20px;
  margin-left: 12rem;

  }  

  input#last\name{
    /* width: fit-content; */
    height: 50px;
    padding: 10px;
    border-radius: 2px;
    margin-left: 12px;
    padding: 8px;
  }


   /* .signup{ */
      /* font-family: 'Ubuntu'; */
    /* font-size: 20px; */
    /* color: rgb(255, 0, 153); */
    /* font-weight: bold; */
    /* margin-left: 18rem;
  /* }      */ 

 button.btnSU{
  color:rgb(245, 11, 11);
  font-family:Ubuntu; 
  font-size: 22px;
  font-weight:bold;
  margin-left: 30rem;
  padding: 10px 15px;
  outline: 2px solid rgb(233, 87, 34);
}


 label.password{
  font-family: Ubuntu;
  color:rgb(13, 0, 128);
  /* min-width: 16em;
  height: 50px;
  padding: 0px 10px;
  border-radius: 2px; */

}
 
/* hex color to the page after selecting a color */
/* div.RoomCollection div{
  width: 50%;
  margin-left: 20px;
  padding: 10px;
  /* outline: 2px solid rgb(233, 87, 34); */
/* }  */


