body {
  margin: 0;
  /* background-color: rgb(82, 206, 233); */
  font-family: -apple-system,'Ubuntu' BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* code {
  font-family: 'Ubuntu', sans-serif;
} */
  h1.rainbow-text {

  font-family: 'Ubuntu', sans-serif;
  /* padding-bottom: 2px; */
   text-align: center;
   font-size: 50px;
    font-weight: bold;
    background-image: linear-gradient(to left, rgb(225, 49, 225), rgb(242, 179, 42), rgb(82, 158, 244), rgb(93, 225, 159), rgb(233, 161, 36), rgb(242, 95, 42), rgb(236, 55, 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  
}

